<footer>
    <div>
        something in the footer
    </div>
    <div>
        something in the footer
    </div>
    <div>
        something in the footer
    </div>
    <div>
        something in the footer
    </div>
</footer>